body {
    font-family: Arial, sans-serif; /* Para indicar el tipo de letra*/
    max-width: 800px; /*Para indicar el margen de ancho*/
    margin: 0 auto;/*espacio externo */
    padding: 20px;/*espacio entre el contenido */
    background-color: antiquewhite;/*color del fondo */
}

h1 {
    font-size: 32px;/*dimension de la letra */
    margin-bottom: 20px;/*margen inferior*/
}

h2 {
    font-size: 24px;/*dimension de la letra */
    margin-top: 40px;/*margen superior*/
    margin-bottom: 10px;/*margen inferior*/
}

ol {
    margin-left: 20px;/*margen izquierdo*/
}

p {
    margin-bottom: 10px;/*margen inferior*/
}